<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ text }}</h1>
    <h3 style="background-color: RGB(200, 0, 0)">{{ text1[0] }}</h3>
    <h3 style="background-color: RGB(0, 200, 0)">{{ text1[1] }}</h3>
    <h3 style="background-color: RGB(0, 0, 200)">{{ text1[2] }}</h3>
    <h3 style="background-color: RGB(255, 255, 0  )">{{ text1[3] }}</h3>
  </body>
</html>
